body {
    background: #00C3AF
}
.row {
    display: flex
}
.col {
/*    background: green;*/
    height: 50px;
    width: 50px;
/*    margin: 3px;*/
    display: grid;
/*    border-radius: 5px;*/
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: solid 5px #00A794
}
.X {
    color: #0F5B54
}
.O {
    color: #F3ECD0
}
#grid_0 div {
    border-top: none;
}
#grid_2 div {
    border-bottom: none;
}
.col:first-child {
    border-left: none;
}
.col:last-child{
    border-right: none
}